<div id="mainBody">
  <div class="mat-elevation-z8">
    <div class="title">
      <h2>Licenses</h2>
    </div>
    <div class="container-fluid">
      
      <div *ngIf="isAuth" class="d-flex flex-column">
        <p class="title-app">Choose application</p>
        <div class="row">
          <div class="col-md-2 justify-content-center align-self-center ">
            <mat-form-field appearance="fill">
              <mat-label>Choose an application </mat-label>
              <mat-select [(value)]="selectedApp" (selectionChange)="onChange($event)">
                <mat-option *ngFor="let application of applications"  
                  [value]="application">{{application.applicationName | uppercase}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class=" col-md-5">
            <div class="p-2 appBox bg-light"> <p>App ID: {{this.selectedApp.id}}</p></div>
           
          </div>
          <div class=" col-md-5">
            <div class="p-2 secretBox bg-light"> <p style="word-wrap: break-word;">Secret Key: {{this.selectedApp.secretKey}}</p></div>
          </div>
        </div>
    
        <div class="pt-3">
          <button color="primary" style="background-color: green;" mat-raised-button
            (click)="openCreateGeneratePanel(createApplicationComponent)">
            <fa-icon [icon]="faApplication"></fa-icon>
            Create application
          </button>
          <button color="primary" style="background-color: orange;" mat-raised-button
            (click)="openCreateGeneratePanel(updatePricesComponent)">
            <fa-icon [icon]="faUpdate"></fa-icon>
            Set License Prices
          </button>
          <button mat-raised-button (click)="disableApplication()" style="background-color: grey;" color="primary">
            <fa-icon [icon]="faDisable"></fa-icon>
            Disable this Application
          </button>
          <button mat-raised-button (click)="openJustModal(deleteapplication)" style="background-color: red;"
          color="primary">
          <fa-icon [icon]="faDelete"></fa-icon>
          Delete this Application
        </button>
        </div>
      </div>
      <div class="mt-4 row">
        <div class="col-sm">
          <P class="title-app">Licenses</P>
          <button mat-raised-button (click)="openGeneratePanel(keyGenerateComponent)" style="background-color: green;"
            color="primary">
            <fa-icon [icon]="faAdd"></fa-icon>

            Generate New Key
          </button>
          <button mat-raised-button (click)="openJustModal(hwidresettemplate)" style="background-color: orange;"
            color="primary">
            <fa-icon [icon]="faReset"></fa-icon>

            Hwid Reset All Keys
          </button>
          <button *ngIf="isAuth" mat-raised-button (click)="openGeneratePanel(keyExtendComponent)"
            (click)="setExtendOption(true)" style="background-color: rgb(41, 182, 182);" color="primary">
            <fa-icon [icon]="faCircle"></fa-icon>
            Extend All Keys
          </button>
          <button mat-raised-button (click)="openJustModal(deletetemplate)" style="background-color: red;"
            color="primary">
            <fa-icon [icon]="faDelete"></fa-icon>
            Delete All Keys
          </button>
          <button *ngIf="isAuth" mat-raised-button (click)="openJustModal(deleteunusedkeys)"
            style="background-color: red;" color="primary">
            <fa-icon [icon]="faDeleteUnused"></fa-icon>
            Delete Unused Keys
          </button>
          <button mat-raised-button (click)="openJustModal(deleteexpiredkeys)" style="background-color: red;"
            color="primary">
            <fa-icon [icon]="faCalendar"></fa-icon>
            Delete Expired Keys
          </button>
        </div>
      </div>
      <div class="export-bar row mt-4">
        <div class="col-sm">
          <P class="title-app">Export</P>
          <button mat-raised-button
            (click)="exporter.exportTable('csv',{fileName:'Licenses ' + myFormattedDate})">CSV</button>
          <button mat-raised-button
            (click)="exporter.exportTable('xls',{fileName:'Licenses '+ myFormattedDate})">Excel</button>
          <button mat-raised-button [cdkCopyToClipboard]="copyLicenses()">Copy JSON</button>
          <button mat-raised-button (click)="exportPdf()">PDF</button>
          <button mat-raised-button (click)="printTable()">Print</button>
        </div>
        <div class="col-sm-6">
          <input class="form-control" type="text" placeholder="Search.." (keyup)="applyFilter($event.target.value)">
        </div>
      </div>
    </div>

    <table id="licenseTable" [dataSource]="(licenses$|async)" matTableExporter #exporter="matTableExporter" mat-table matSort
      class="table-responsive">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID.</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="authKey">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Key</th>
        <td mat-cell *matCellDef="let element">{{element.authKey}}</td>
      </ng-container>

      <ng-container matColumnDef="hwid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>HWID</th>
        <td mat-cell *matCellDef="let element">{{element.hwid}}</td>
      </ng-container>

      <ng-container matColumnDef="ownerId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner ID</th>
        <td mat-cell *matCellDef="let element">{{element.ownerId}}</td>
      </ng-container>

      <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Expiration Date
        </th>
        <td mat-cell *matCellDef="let element">
          {{calculateDays(element.expirationDate)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="isOwned">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Used</th>
        <td mat-cell *matCellDef="let element">
          <img style="width: 32px;" [alt]="element.isOwned" [src]="checkLicenseStatus(element.isOwned)" />
        </td>
      </ng-container>

      <ng-container matColumnDef="hwid-reset">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="resetHwid(element.id)" style="background-color: darkorange;" color="warn">
            HWID Reset
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="extend-key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="isAuth" mat-raised-button (click)="openGeneratePanel(keyExtendComponent)"
            (click)="setExtendOption(false,element.id)" style="background-color: rgb(41, 182, 182);" color="warn">
            <fa-icon [icon]="faCircle"></fa-icon>
            Extend Time
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button style="background-color: red;" (click)="openModal(template,element.id)"
            color="warn">
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div>
      <p style="text-align: center;margin-top: 30px;font-weight: 400;" *ngIf="isEmpty">
        No data found!
      </p>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
    <ng-template #template>
      <div class="modal-body text-center">
        <p>Do you want to delete?</p>
        <button type="button" mat-raised-button class="btn btn-default" (click)="confirm()">
          Yes
        </button>
        <button type="button" mat-raised-button class="btn btn-primary" (click)="decline()">
          No
        </button>
      </div>
    </ng-template>
    <ng-template #deletetemplate>
      <div class="modal-body text-center">
        <p style="color: red;font-weight: 600;">
          [ WARNING - DELETE ALL KEYS ]
        </p>
        <p>Do you want to delete all keys?</p>
        <button type="button" mat-raised-button class="btn btn-default" (click)="deleteAllKeys()">
          Yes
        </button>
        <button type="button" mat-raised-button class="btn btn-primary" (click)="decline()">
          No
        </button>
      </div>
    </ng-template>
    <ng-template #deleteunusedkeys>
      <div class="modal-body text-center">
        <p style="color: red;font-weight: 600;">
          [ WARNING - THIS WILL DELETE ALL UNUSED KEYS ]
        </p>
        <p>Do you want to delete all unused keys?</p>
        <button type="button" mat-raised-button class="btn btn-default" (click)="deleteUnusedKeys()">
          Yes
        </button>
        <button type="button" mat-raised-button class="btn btn-primary" (click)="decline()">
          No
        </button>
      </div>
    </ng-template>
    <ng-template #hwidresettemplate>
      <div class="modal-body text-center">
        <p style="color: red;font-weight: 600;">[ WARNING - RESET ALL HWID ]</p>
        <p>Do you want to reset all hwids?</p>
        <button type="button" mat-raised-button class="btn btn-default" (click)="hwidResetAllKeys()">
          Yes
        </button>
        <button type="button" mat-raised-button class="btn btn-primary" (click)="decline()">
          No
        </button>
      </div>
    </ng-template>
    <ng-template #deleteapplication>
      <div class="modal-body text-center">
        <p style="color: red;font-weight: 600;">
          [ WARNING - DELETE THIS APPLICATION ]
          <br>
          <br>
          [ THIS PROCCESS CANNOT BE REVERT ]
        </p>
        <p>Do you want to delete this application?</p>
        <button type="button" mat-raised-button class="btn btn-default" (click)="deleteApplication()">
          Yes
        </button>
        <button type="button" mat-raised-button class="btn btn-primary" (click)="decline()">
          No
        </button>
      </div>
    </ng-template>
    <ng-template #deleteexpiredkeys>
      <div class="modal-body text-center">
        <p style="color: red;font-weight: 600;">
          [ WARNING - THIS OPERATION WILL DELETE ALL EXPIRED KEYS ]
          <br>
          <br>
          [ THIS PROCCESS CANNOT BE REVERT ]
        </p>
        <p>Do you want to delete expired keys?</p>
        <button type="button" mat-raised-button class="btn btn-default" (click)="deleteExpiredKeys()">
          Yes
        </button>
        <button type="button" mat-raised-button class="btn btn-primary" (click)="decline()">
          No
        </button>
      </div>
    </ng-template>
  </div>
</div>