@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .licenses-container {
    padding: 0;
  }

  #mainBody {
    width: 100%;
  }

  table,
  tbody {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .exportBar {
    margin-top: 30px;
  }

  .mat-raised-button {
    margin-bottom: 10px;
  }

}

.container {
  margin-left: 0px;
}

#mainBody {
  margin-left: 320px;
  padding-right: 20px;
  padding-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}



th.mat-sort-header-sorted {
  color: black;
}



.mat-raised-button {
  margin-right: 15px;
}

.exportBar>input {
  margin: auto 0 auto auto;
}

.title {
  padding-left: 15px;
  padding-top: 7px;
}

.title-app {
  padding-left: 5px;
  padding-top: 7px;
  font-weight: 500;
}

.balance-text {
  float: right;
  font-weight: 400;
  font-size: 16px;
  padding-right: 40px;
}

.form-control {
  width: 250px;
  float: right;
  margin-right: 40px;
}

.col-sm>.mat-raised-button {
  background-color: cornflowerblue;
  color: white;
}