@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .licenses-container {
    padding: 0;
  }

  #mainBody {
    width: 100%;
  }

  table,
  tbody {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .exportBar {
    margin-top: 30px;
  }

  .mat-raised-button {
    margin-bottom: 10px;
  }

}

.appBox {
  border: 3px solid #ccc;
  background-color: gainsboro;
}

.appBox>p {
  font-family: ubuntu;
  font-weight: 600;
}

.secretBox {
  border: 3px solid #ccc;
  background-color: gainsboro;
}

.secretBox>p {
  font-family: ubuntu;
  font-weight: 600;
}


.container {
  margin-left: 0px;
}

#mainBody {
  margin-left: 320px;
  padding-right: 20px;
  padding-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}



th.mat-sort-header-sorted {
  color: black;
}



.mat-raised-button {
  margin-right: 15px;
}

.exportBar>input {
  margin: auto 0 auto auto;
}


h2 {
  font-family: ubuntu;
  font-weight: 600;
}


.form-control {
  width: 250px;
  float: right;
  margin-right: 40px;
}

.col-sm>.mat-raised-button {
  background-color: cornflowerblue;
  color: white;
}