@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .licenses-container {
    padding: 0;
  }


  #mainBody {
    width: 100%;
  }

  table,
  tbody {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .topbar {
    display: inline-flex;
  }

  .exportBar{
    margin-top: 30px;
  }
  .mat-raised-button {
    margin-bottom: 10px;
  }

}


#mainBody {
  margin-left: 320px;
  padding-right: 20px;
  padding-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th.mat-sort-header-sorted {
  color: black;
}

.topbar {
  padding-bottom: 2%;
  margin-left: 1%;
  padding-top: 7px;
  flex-direction: row;
  flex-wrap: wrap;
}



.mat-raised-button {
  margin-right: 15px;
}

.topbar>p {
  margin: auto 0 auto auto;
}

.exportBar>input {
  margin: auto 0 auto auto;
}

.title {
  padding-left: 15px;
  padding-top: 7px;
}

.exportBar {
  margin-left: 1%;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.exportBar>.mat-raised-button {
  background-color: cornflowerblue;
  color: white;
}