
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .licenses-container {
    padding: 0;
  }


  #mainBody {
    width: 100%;
  }

  table,
  tbody {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  input[type=text]{
   display: inline;
   margin-right: 0px;
  }

}


h2{
  font-family: ubuntu;
  font-weight: 600;
}

#mainBody {
  margin-left: 320px;
  padding-right: 20px;
  padding-top: 10px;
}

table {
  width: 100%;
}

.form-control {
  margin-right: 120px;
  margin-left: 7px;
  font-weight: 400;
  font-size: 16px;
  width: 240px;
  height: 40px;
}


  