/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: monserrat;
  src: url(src/assets/font/monserrat.ttf) format("opentype");
}

@font-face {
  font-family: ubuntu;
  src: url(src/assets/font/Ubuntu-Light.ttf) format("opentype");
}


td {
  font-size: 14px;
  font-family: monserrat;
  font-weight: 300;
}

.balance-text {
  font-family: ubuntu;
  font-weight: 1000;
  float: right;
  font-size: 16px;
  padding-right: 40px;
}

.title {
  padding-left: 20px;
  padding-top: 15px;
}

.title-app {
  font-family: monserrat;
  padding-left: 5px;
  padding-top: 7px;
  font-weight: 500;
}


html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

body {
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}